body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgba(255 244 244 );
}
html{
    font-size:62.5%;

}
#calculator{
    font-family: sans-serif;
    width: 40rem;
    border-radius: 2rem;
    background-color: black;
    max-width: 50rem;
    overflow: hidden;
    
    
}
#display{
width: 100%;
padding: 2rem;
font-size: 3rem;
text-align: left;
border: none;
background-color:rgba(255 244 244 / 26%) ;
color: white;
}
button{
    color:white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(255 244 244 / 31%);
    font-weight: bold;
    font-size: 3rem;
}
#keys{
    display: grid;  
    grid-template-columns:repeat(4,1fr);
    gap: 1rem;
    padding: 1rem;
    row-gap: 1rem;
}
button:hover{
    background-color:rgba(255 244 244 / 40%) ;
}

.key{
    background-color: rgb(255 255 0 / 79%);
}
.key:hover{
    background-color: rgb(255 255 0 / 87%);
}
.key:active{
    background-color: rgb(255 255 0 / 98%);
}